/* stye.css */

.content-wrapper {
  background-color: #FFFFFF;
}

/* Delete focus */
:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.nav-tabs-custom {
  box-shadow: none !important;
  border: none !important;
}

.btn_custom_interno_1 {
  background-color: #3c8dbc;
  color: white;
}

.btn_custom_interno_2 {
  background-color: navy;
  color: white;
}

.skin-blue .main-header .logo {
  background-color: #3c8dbc !important;
  color: white !important;
}
